<div
    flow-init
    flow-files-submitted="$flow.upload()"
    flow-file-success="success($file,$message)"
    class="col-md-offset-2 col-md-8">
    <div class="modal-header">
        <h3 ng-hide="edit">Dodaj nowy przedmiot</h3>
        <h3 ng-show="edit">Edycja ({{item.hash}})</h3>
    </div>
    
    <div class="container-fluid modal-body" >
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" ng-model="item.title" class="form-control" id="inputEmail3" placeholder="Tytuł">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea rows="10" class="form-control" ng-model="item.about" id="inputPassword3" placeholder="O moim przedmiocie..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="7" ng-model="item.about_me" id="inputText3" placeholder="O mnie..."></textarea>
                        </div>
                    </div>
                    <div ng-hide="edit" class="form-group">     
                        <div class="col-sm-1">         
                            <span flow-btn  class="btn btn-primary form-control"  id="basic-addon1"><span class="glyphicon glyphicon-camera"></span></span>
                        </div>
                    </div>
                </form>
                <div class="row">

                    <div class="col-sm-2" ng-hide="edit" ng-repeat="file in $flow.files">
                        <img  class="img-responsive" flow-img="$flow.files[$index]">
                    </div>
                    <div class="col-sm-2" ng-show="edit" ng-repeat="image in item.images">
                        <img  class="img-responsive" ng-src="{{image.path}}">
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Zapisz</button>
        <button class="btn btn-warning" ng-click="cancel()">Nie teraz</button>
    </div>
</div>
